---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {
  title = "Default Site Title",
  description = "Default site description",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <!-- social sharing -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />

    <!-- Snipcart container -->
    <div
      id="snipcart"
      data-api-key="OTJlNzVkZjAtMmZjYS00MGQ1LWI1ZDEtZThhYmMxY2FmNGZiNjM4OTQ5NDY4NTUzODYxMjM2"
      hidden
    >
    </div>
  </body>
  <script>
    // Detect environment and set appropriate domains
    const isLocalhost =
      window.location.hostname === "localhost" ||
      window.location.hostname === "127.0.0.1";
    const isNetlify =
      window.location.hostname === "true-believers-coffee.netlify.app";

    let allowedDomains = ["localhost", "127.0.0.1"];

    if (isNetlify) {
      allowedDomains = ["true-believers-coffee.netlify.app"];
    }

    window.SnipcartSettings = {
      publicApiKey:
        "OTJlNzVkZjAtMmZjYS00MGQ1LWI1ZDEtZThhYmMxY2FmNGZiNjM4OTQ5NDY4NTUzODYxMjM2",
      loadStrategy: "on-user-interaction",
      currency: "USD",
      version: "3.7.1",
      modalStyle: "side",
      allowedDomains: allowedDomains,
      testMode: true, // Enable test mode
    };
  </script>

  <script src="https://cdn.snipcart.com/themes/v3.7.1/default/snipcart.js" defer
  ></script>
  <link
    href="https://cdn.snipcart.com/themes/v3.7.1/default/snipcart.css"
    rel="stylesheet"
  />
</html>
